.container-login {
    display: flex;
    min-height: 100vh;
}

.grid {
    display: flex;
    flex-grow: 1;
}

.login-form {
    padding-top: 150px ;
    max-width: 600px;
    margin: 0 auto;
}

.overlay-container {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
}

.custom-button {
    background-color: #dbdbdb;
    color: black;
    font-weight: normal;
  }

  .custom-button .pi {
    color: black;
  }

  .custom-button:hover {
    background-color: #c8c8c8;
  }

  .no-underline {
    text-decoration: none;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 125px;
}

.log-title {
  color: #2c3e50; /* Couleur du texte */
  font-weight: bold; /* Gras */
  font-family: 'Arial', sans-serif; /* Police de caractères personnalisée */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Ombre portée */
}
