.container-login {
    display: flex;
    min-height: 100vh;
}

.grid {
    display: flex;
    flex-grow: 1;
}

.login-form {
    padding-top: 150px ;
    max-width: 600px;
    margin: 0 auto;
}

.overlay-container {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
}

.custom-button {
    background-color: #dbdbdb;
    color: black;
    font-weight: normal;
  }

  .custom-button .pi {
    color: black;
  }

  .custom-button:hover {
    background-color: #c8c8c8;
  }

  .no-underline {
    text-decoration: none;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 125px;
}

.log-title {
  color: #2c3e50; /* Couleur du texte */
  font-weight: bold; /* Gras */
  font-family: 'Arial', sans-serif; /* Police de caractères personnalisée */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Ombre portée */
}
.side-off {
  width: calc(100vw - 22.5rem) !important;
  margin-left: 0rem !important;
}

.side-on {
  width: calc(100vw - 2.5rem) !important;
  margin-left: -20rem !important;
}

button.displayed {
  position: fixed;
  left: 17rem;
  top: 0.5rem;
  z-index: 100000000000;

  &:focus {
    box-shadow: none;
  }
}

button.undisplayed {
  position: fixed;
  left: 0.5rem;

  &:focus {
    box-shadow: none;
  }
  top: 0.5rem;
}
// #app {
//   margin-left: 320px;
// }
// main.container {
//   padding: 1.5rem;
// }
main {
  &.side-on {
    padding: 0.5rem;
  }
}
.p-sidebar {
  & a.router-link-active span.font-medium {
    color: var(--green-500);
  }
}
.p-sidebar-visible a {
  text-decoration: none;
}

.p-sidebar-header {
  height: 56px;
}
